## NodeJS ##
# Logs
logs
*.log
npm-debug.log*

# NPM
package-lock.json
node_modules/**

## NextJS ##
.next/**
out/**

# Production
build/**

# Testing
coverage/**

## dotenv ##
.env
*.env

### Editors/IDEs ###
## VS Code ##
.vscode/**/*
.vscode-test
*.code-workspace

## WebStorm ##
.idea/**/*
