body, html {
  font-family: 'helvetica neue', helvetica, sans-serif;
}

.min-h-10 { min-height: 10%; }
.min-h-20 { min-height: 20%; }
.min-h-30 { min-height: 30%; }
.min-h-40 { min-height: 40%; }
.min-h-50 { min-height: 50%; }
.min-h-60 { min-height: 60%; }
.min-h-70 { min-height: 70%; }
.min-h-80 { min-height: 80%; }
.min-h-90 { min-height: 90%; }

.min-vh-10 { min-height: 10vh; }
.min-vh-20 { min-height: 20vh; }
.min-vh-30 { min-height: 30vh; }
.min-vh-40 { min-height: 40vh; }
.min-vh-50 { min-height: 50vh; }
.min-vh-60 { min-height: 60vh; }
.min-vh-70 { min-height: 70vh; }
.min-vh-80 { min-height: 80vh; }
.min-vh-90 { min-height: 90vh; }

.min-w-10 { min-width: 10%; }
.min-w-20 { min-width: 20%; }
.min-w-30 { min-width: 30%; }
.min-w-40 { min-width: 40%; }
.min-w-50 { min-width: 50%; }
.min-w-60 { min-width: 60%; }
.min-w-70 { min-width: 70%; }
.min-w-80 { min-width: 80%; }
.min-w-90 { min-width: 90%; }
.min-w-100 { min-width: 100%; }

.min-vw-10 { min-width: 10vh; }
.min-vw-20 { min-width: 20vh; }
.min-vw-30 { min-width: 30vh; }
.min-vw-40 { min-width: 40vh; }
.min-vw-50 { min-width: 50vh; }
.min-vw-60 { min-width: 60vh; }
.min-vw-70 { min-width: 70vh; }
.min-vw-80 { min-width: 80vh; }
.min-vw-90 { min-width: 90vh; }
.min-vw-100 { min-width: 100vh; }
